<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <title>React App</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    body{
      font-family: 'Poppins', sans-serif;
      font-weight:bold
    }
  </style>
</head>
  <body>
    <form class="" action="/insert" method="post">
      <input type="date" name="date" value=""><br><br>
      <input type="text" name="name" value=""><br><br>
      <select class="" name="type">
        <option value="">SELECT</option>
        <option value="Marriage Anniversary">Marriage Anniversary</option>
        <option value="Birthday">Birthday</option>
        <option value="Anniversary">Anniversary</option>
      </select><br><br>
      <button type="submit" name="button">Submit</button>
    </form>
    <br>
    <a href="/">Check</a>
  </body>
</html>
