/* .back {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: black;
} */
.star{
    color: white;
    font-size: 180px;
    transform: rotate(0deg);
}

.circle1 {
    height: 250px;
    width: 250px;
    color: pink;
    background-color: pink;
    border-radius: 50%;
    margin-left: 300px;
}

.circle2 {
    margin-top: 100px;
    margin-right: 300px;
    height: 300px;
    width: 300px;
    color: pink;
    background-color: pink;
    border-radius: 50%;
    float: right;
}


.box {
    position: relative;
    top: 100px;
    width: 90%;
    height: 450px;
    padding: 20px;
    border-radius: 5px;
    /* border: 1px solid gray; */
    /* margin-top: -90vh; */
    justify-content: center;
    align-items: center;
    background-color: white;
}

.btnlogin {
    color: #e25748;
    border: 1px solid #e25748;
    background-color: white;
    margin-top: 10px;
    margin-left: 30px;
    padding: 7px 10px;
    border-radius: 5px;
    float: right;
    outline: none;
    /* width: 10px; */
}

.txtlogin {
    margin-top: 0;
    color: gray;
}

.txtlogin:hover {
    text-decoration: none;
}

.name {
    float: left;
    /* color: white; */
    margin-top: -20px;
}
.content h1{
    font-size: 70px;
    text-justify: auto;
    align-content: center;
    margin-top: 50px;
    text-align: justify;
    /* margin-top: -90vh; */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
 .box:before,
 .box:after {
     border-radius: 5px;
     content: '';
     position: absolute;
     top: -2px;
     left: -2px;
     background: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet, indigo, blue, green, yellow, orange, red);
     background-size: 400%;
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     z-index: -1;
     animation: animate 20s linear infinite;
 }
 .box:after {
     filter: blur(10px);
 }
 @keyframes animate {
     0% {
         background-position: 0 0;
     }

     50% {
         background-position: 300% 0;
     }

     100% {
         background-position: 0 0;
     }
 }
@media only screen and (max-width: 500px) {
    .box {
        position: relative;
        width: 90%;
        top: 50px;
        margin-left: 20px;
        /* margin-left: 0; */
        /* margin-top: -90vh; */
    }

    .btnlogin {
        background-color: white;
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
    }

    .txtlogin {
        margin-top: 0;
        color: gray;
        margin-left: 3%;
    }

    /* .circle1 {
        margin-top: 50px;
        width: 200px;
        height: 200px;
        margin-left: 0;
    }

    .circle2 {
        margin-top: 300px;
        width: 200px;
        height: 200px;
        margin-right: 0;
    } */
    .content h1{
        /* visibility: hidden; */
        font-size: 35px;
        margin-top: 73px;
    }
    
    .box:before,
    .box:after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        background: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet, indigo, blue, green, yellow, orange, red);
        background-size: 300%;
        width: calc(100% + 4px);
        height: calc(100% + 6px);
        z-index: -1;
        animation: animate 20s linear infinite;
    }

    .box:after {
        filter: blur(10px);
    }

    @keyframes animate {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 300% 0;
        }

        100% {
            background-position: 0 0;
        }
    }
}
