.back {
    height: 100vh;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;

    /* backgrcolor: black; */
}

/* .circle1 {
    height: 250px;
    width: 250px;
    color: pink;
    background-color: pink;
    border-radius: 50%;
    margin-left: 300px;
}

.circle2 {
    margin-top: 100px;
    margin-right: 300px;
    height: 300px;
    width: 300px;
    color: pink;
    background-color: pink;
    border-radius: 50%;
    float: right;
} */

.box {
    position: relative;
    top: 100px;
    width: 100%;
    height: 550px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: -100vh;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(243, 218, 218, 0.1);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.btnlogin {
    color: #e25748;
    /* transition: 0.5s; */
    border: none;
    background-color: white;
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px 10px;
    border-radius: 5px;
    float: right;
    outline: none;
    width: 100px;
}

.txtlogin {
    margin-top: 0;
    color: gray;
    /* margin-left: 25%; */
}

.txtlogin:hover {
    text-decoration: none;
    /* color: gray; */
}

.name {
    float: left;
    color: white;
    margin-top: -20px;
}

@media only screen and (max-width: 500px) {
    .box {
        position: relative;
        width: 100%;
        top: 50px;
        /* margin-left: 20px; */
        margin-top: -90vh;
    }

    .btnlogin {
        background-color: white;
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
    }

    .txtlogin {
        margin-top: 0;
        color: gray;
        margin-left: 3%;
    }

    /* .circle1 {
        margin-top: 50px;
        width: 200px;
        height: 200px;
        margin-left: 0;
    }

    .circle2 {
        margin-top: 300px;
        width: 200px;
        height: 200px;
        margin-right: 0;
    } */
}
